<% if notice %>
<div class="ui message">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<div class="ui grid">
    <div class="ten wide column">
      <h1>Parties</h1>
    </div>
    <div class="six wide column right aligned">
      <%= link_to 'Create New Party', new_party_path, class: "ui button blue"%>
    </div>
</div>

<br>
<%= render 'parties/search' %>
<br>

<table class="ui celled table">
  <thead>
    <tr>
      <th class="one wide">Serial No.</th>
      <th class="six wide">Party Name</th>
      <th class="four wide">Party Code</th>
      <th class="one wide" colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @parties.each_with_index do |party, index| %>
      <tr>
        <td><%= @parties.offset + index +1 %></td>
        <td><%= party.party_name %></td>
        <td><%= party.party_code %></td>
        <td><%= link_to 'Show', party ,class: "ui "%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="ui center aligned header" >
<%= will_paginate @parties, renderer: WillPaginateSemanticUi::ActionView::Renderer %>
</div>