<% if notice %>
<div class="ui message">
  <p id="notice"><%= notice %></p>
</div>
<% end %>

<p>
  <strong>Party name:</strong>
  <%= @party.party_name %>
</p>

<p>
  <strong>Party code:</strong>
  <%= @party.party_code %>
</p>

<%= link_to 'Edit', edit_party_path(@party), class: "ui button"%>
<%= link_to 'Back', parties_path, class: "ui button"%>
<%= link_to 'Destroy', @party, method: :delete, data: { confirm: 'Are you sure?' }, class: "ui button" %>